@import '@kevinwei00/foundation-bricks/styles/sections/duo-hero';
@import 'styles/global/_global.scss';

.style {
  color: $white;
  background-color: $black;

  :global {
    .media-block video {
      outline: none;
    }

    .cta {
      color: $black;
      background-color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}