@import '@kevinwei00/foundation-bricks/styles/global/global';
@import '@kevinwei00/foundation-bricks/styles/sections/duo-hero';

.style {
  color: $white;
  background-color: $black;

  :global {
    .media-block video {
      outline: none;
    }

    .cta {
      color: $black;
      background-color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}